<%- include("header") -%>


<div class='container pt-5 pb-5'>
    <h3> Edit Entry</h3><hr/>

    <form action="/edit" method="post">
        <input type="hidden" value="<%= entry._id %>" name="lid">
        <div class="mb-3">
        <input type="text" placeholder="Name of Employee" class="form-control" name="username" value=" <%= entry.username %>">
    </div>

    <div class="mb-3">
        <input type="email" placeholder="Your Email Id" class="form-control" name="email" value=" <%= entry.email %>">
    </div>
    
    <div class="mb-3">
        <input type="number" placeholder="Your Mobile No." class="form-control" name="phone" value="<%= entry.phone %>">
    </div>

    <div class="mb-3">
        <input type="text" placeholder="Name of Dept" class="form-control" name="dept" value=" <%= entry.dept %>">
    </div>

    <div class="mb-3">
        <input type="number" placeholder="Your Salary" class="form-control" name="salary" value="<%= entry.salary %>">
    </div>
    
    <div class="row">
        <div class="col-2">
            <button class='btn btn-success' type="submit">Update</button>
        </div>
    </form>

    <% if (result!='') { %>
  <div class=' alert alert-success'> ✔ <h2 ><%= result %></h2></div>
    <% } %>


</div>

<%- include("footer") -%>